<%- include('layouts/header') %>


<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

<%- include('layouts/sidebar') %>
     

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

<%- include('layouts/topnav') %>

<div class="alert alert-info alert-dismissible fade show" role="alert">
  <h3><%= message ? message : ' ' %></h3>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<h3>FAQs</h3>
<a href="/admin/FAQform">Add FAQ</a>
<% faqData.map((data)=> { %>
<div class="list-group w-100">
    <a href="#shortExampleAnswer1collapse" data-mdb-toggle="collapse" aria-expanded="false"
      aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><b><%= data.question%></b></h5>
      </div>
      
       <%= data.answer%>
        
           <a href="/admin/faqEdit/<%= data._id %>"> Edit </a>
           <a href="/admin/deleteFAQ/<%= data._id %>"> Delete </a> 
           <% }) %>
    </a>
    
</div>
<%- include('layouts/siteFooter')%>
<%- include('layouts/footer')%>

